*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Inter:wght@500&family=Lato&family=Poppins&display=swap');
body{
    width:100%;
    overflow-x:hidden;
}
nav {
    width:100%;
    top:0px;
    display: flex;
    position:absolute;
    z-index: 1000;
    justify-content: space-between;
    padding: 1rem 10rem;
    height: 90px;
    background: #FFF;
    box-shadow: 2px 2px 12px rgb(221, 210, 210);
}

.logo img{
    margin:33.3% 65.75% 43.37% 125.99%;
    border-bottom:2px solid  rgb(255, 118, 118) ;
}

.logo h3{
    margin:-100% 17.96% 35% 215.19%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22.1538px;
    line-height: 160%;
    letter-spacing: 0.004em;
    color: #1A1A1A;
}
.logo{
    margin: -1% 10% 0% -15%;
}

ul.navlinks {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 6% 1vw;
    list-style: none;
    font-size: 1.1rem;
}

.navlinks a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-decoration:none;
    letter-spacing: 0.004em;
    color: #666666;
}


.navlinks a:hover {
    color: #DA3743;
    padding: 0.5rem;
}
.navlinks a:hover::before{
    content: ' ';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #DA3743;
    margin: 20px 0 0 8px;
    transform: translateX(-50%);

}
.nav-icons{
    margin: 2.5% 10%;
}

.nav-icons a{
    text-decoration:none;
    color: #666666;
    justify-content: space-around;
    margin: 0 0.5vw;
}

.sign-in{
    margin: 2.5% 0%;
}
.sign-in a{
    text-decoration:none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.004em;
    color: #666666;
    margin: 0 1vw;
}

nav > button{
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    color:#FFF;
    border:none;
    width: 157px;
    height: 54px;
    outline: none;
    background: #DA3743;
    border-radius: 30px;
    font-family:'lato';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-right:-10%;
    cursor: pointer;
}
.burger{
    display: none;
    cursor: pointer;
    margin: 0 -24vh 0 -24vh;
}

.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #4D4D4D;
}
.description-section{
    height:650px;
    width:100%;
    margin-top:20%;
}

.description-section h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    margin: 10% 0% 0% 7%;
    line-height: 112%;
    color: #1A1A1A;
    width: 551px;
    height: 144px;

}
.description-section p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 2% 0% 0% 7%;
    line-height: 145%;
    color: #13254A;
    mix-blend-mode: normal;
    opacity: 0.7;
    width: 390px;
    height: 55px;
}

.inst-orders{
    display:none;
}
.inst-orders p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.inst-orders input{
    padding: 15px 16px;
    width: 342px;
    height: 54px;
    outline:none;
    color:#B5B5BD;
    font-size:14px;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    border-radius: 6px;
    margin-left: 10%;
}

.description-section button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#FFF;
    border: none;
    outline: none;
    width: 325px;
    height: 54px;
    margin: 2% 0% 0% 7%;
    background: #DA3743;
    border-radius: 30px;
    cursor: pointer;
}

.description-section img{
    border: 3px solid #DA3743;
    margin: -26.28% 8.47% 9.81% -63.17%;
    box-shadow: 19px 33px 34px 2px rgba(100, 97, 97, 0.45);
    filter: drop-shadow(66px 77px 40px rgba(196, 196, 196, 0.2)) drop-shadow(0px 11px 20px rgba(51, 51, 51, 0.4));
    border-radius: 50%;
    float:right;
}
.description-section a{
    color:#FFF;
    text-decoration: none;
    border: 15px solid #DA3743;
    border-radius: 50%;
    float: right;
    margin: 12% 5% 0% 0%;
}

.menu-section{
    height:1500px;
    width:100%;
    background: #FAFAFA;
    
}

.menu-section h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.0125em;
    color: #DA3743;
    padding: 5% 29% 1% 10%;
}
.menu-section p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    color: #041210;
    padding: 0% 52% 0% 10%;
}
.menu-categories{
    display:flex;
    border: 1px solid rgb(110, 92, 92);
    height:30px;
    width: 30%;
    border-radius: 10px;
    float: right;
    margin: -3% 7% 0% 0%;
}
.menu-categories a{
    text-decoration: none;
    color: #222;
    font-size:14px;
    border-radius: 5px;
}
.menu-categories a:hover{
    background-color: #DA3743;
    color:#FFF;
}
.menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5% 10% 0% 10%;
}

.menu-column {
    width:30%;
}

.single-menu{
    align-items: center;
    margin-top:30px;
    width: 352px;
    height:480px;
    background: #FFF;
    border-radius:10px;
    cursor: pointer;
}

.single-menu img{
    width: 352px;
    height: 270px;
}
.single-menu .menu-content{
    font-family: 'Lato';
    font-style: normal;
    line-height: 160%;
}
.single-menu .carts{
    display:none;
    background: #DA3743;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    float:right;
}
.single-menu .carts a{
    text-decoration:none;
    font-size:20px;
    color:#FFF;
    padding:3px;
}

.single-menu .menu-content h5{
    font-weight: 700;
    font-size: 20px;
    color: #4D4D4D;
    margin: 10% 0% 0% 15%;
}
.single-menu .menu-content p{
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    margin: 5% 0% 0% 5%;
    width:133%;
}
.single-menu .menu-content h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 132%;
    color: #666666;
    margin: 5% 0% 0% 15%;
}
.menu-section button{
    width: 119px;
    height: 54px;
    margin:100px 0px 0px 0px;
    background: #DA3743;
    border-radius: 30px;
    color:#FFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    cursor: pointer;
    outline:none;
    border: none;
}
.testimonial-section{
    width: 100%;
    height: 597px;
    background:rgba(218, 55, 67, 0.15);
}
.testimonials{
    display:none;
    background:#FFF;
    box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
    border-radius: 12px;
    height: 324px;
    width: 648px;
    float: right;
    margin: -14% 12% 0 0;
    font-family: 'Lato';
    font-style: normal;
}
.testimonials .quote{
    font-size: 62px;
    font-weight: 900;
    margin: 0 0 0 90%;
    color: #DA3743;
    transform: rotate(-180deg);
}
.section-description h3{
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    color: #363A40;
    width: 360px;
    height: 156px;
    margin-left: 12%;
    padding-top: 10%;
}
.section-description p{
    width: 286px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.004em;
    color: #67758D;
    margin-left: 12%;
    padding-top: 12%;
}
.img-area img{
    border-radius: 100px;
    margin: -2% 0 1% 10%;
}
.right-content p{
    height: 174px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    float:right;
    display: flex;
    align-items: center;
    letter-spacing: 0.004em;
    color: #67758D;
    margin: -30% 12% 0 38%;
}
.name h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 132%;
    width: 84px;
    height: 64px;
    text-align:center;
    color: #363A40;
    margin: 0 0 1% 13%;
}
.text-area h3{
    height: 19px;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #67758D;
    margin-left: 11%;
}
.all-dots {
    margin: 11% 0 0 65%;
}
.dots{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #F1F1F1;
    opacity: .8;
    margin: 0 1px;
    border-radius: 50%;
    cursor: pointer;
}
.active{
    background: #DA3743;
}
.blog-section{
    width:100%;
    height:900px;
}
.section-title h2{
    width: 361px;
    height: 45px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 37.9px;
    padding-top:7%;
    line-height: 120%;
    color: #030303;
}
.section-title p{
    width: 420.99px;
    height: 52px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    padding-top:5%;
    margin-left:35%;
    color: #0A244E;
    opacity: 0.7;
}
.blogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8% 9% 0% 9%;
}
.blogs-column{
    padding: 1px 0px;
    width: 360px;
    height: 472px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgb(221, 210, 210);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.blog-img{
    width: 355.61px;
    height: 235px;
}
.blog-content{
    font-family: 'Lato';
    font-style: normal;
    margin-left:10%;
}
.content-title{
    margin: 10% 0 2% 0;
}
.blog-content .category{
    width: 37px;
    height: 19px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-align: right;
    color: #DA3743;
}
.blog-content .date{
    width: 92px;
    height: 19px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-align: right;
    color: #556480;

}
.blog-content h5{
    width: 291.13px;
    height: 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-bottom: 5%;
}
.blog-content p{
    width: 295.05px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #666666;
    opacity: 0.7;
    margin-bottom: 8%;
}
.blog-content a{
    width: 82px;
    height: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #DA3743;
    text-decoration: none;
    cursor: pointer;
}
.footer-section{
    background:#FAFAFA;
    width:100%;
    padding:7% 0 2% 10%;

}
.top-footer{
    display:flex;
}
hr{
    width: 90%;
    height: 1px;
    left: 156px;
    mix-blend-mode: normal;
    opacity: 0.4;
    border: 1px solid #B3B3B3;
    margin: -4% 0 3% 0;
}
.footer-logo{
    margin: -8% 30% 10% 0;
}
.footer-logo img{
    border-bottom:2px solid  rgb(255, 118, 118) ;
    height: 37px;
    width: 76px;
    margin:100% 0 0 0;
}
.logo-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35.9252px;
    line-height: 160%;
    letter-spacing: 0.004em;
    color: #1A1A1A;
}
.columns{
    display:flex;
}
.column2 {
    margin-left: 50%;
}
.footer-navlinks a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.004em;
    color: #666666;
    text-decoration: none;
}
.footer-navlinks a:hover{
    color:#1A1A1A;
    font-weight: 700;
}
.social-media{
    display:flex;
    justify-content: space-between;
    width:15%;
    float:right;
    margin: -2% 10% 0 0;
}
.social-media a{
    text-decoration: none;
    color:#121212;
    background: #F3EEE4;
    height: 50px;
    width:50px;
    text-align: center;
    padding-top:10%;
    border-radius:50%;
}
